body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: "Inter", sans-serif;
}

h1,
.form-heading {
  font-weight: 700; /* Bold */
}

label {
  font-weight: 600; /* Semi-bold */
}

input,
p {
  font-weight: 400; /* Regular */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
